{% extends "master/base.html" %} {% block title %}Tienda petvet{% endblock %}
{%block content %}
<!-- Fila 1 -->
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Tienda de petvet</h1>
  </div>
</div>
<!-- Fila 2 -->
<div class="row">
  {% for producto in productos%}
  <div class="col-md-3 mb-4">
    <div class="card">
      <img
        src="{{ producto.image.url }}"
        class="card-img-top"
        alt="{{ producto.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ producto.name }}</h5>
        <p class="card-text">Precio: ${{ producto.price }}</p>
        <p class="card-text">Stock: {{ producto.stock }}</p>
        <p class="card-text">Categoría: {{ producto.category.name }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
