{% extends "master/base.html" %} {% block title %}Tienda petvet{% endblock %}
{%block content %}
<!-- Fila 1 -->
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Tienda de petvet</h1>
  </div>
</div>
<!-- Fila 2 -->
<div class="row">
  <!-- Solo visible para superusuario -->
  <button
    type="button"
    class="btn btn-success mb-4"
    data-bs-toggle="modal"
    data-bs-target="#addProductModal"
  >
    Añadir producto
  </button>
  <!-- Fin de solo visible para superusuario -->
  {% for producto in productos%}
  <div class="col-md-3 mb-4">
    <div class="card">
      <img
        src="{{ producto.image.url }}"
        class="card-img-top"
        alt="{{ producto.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ producto.name }}</h5>
        <p class="card-text">Precio: ${{ producto.price }}</p>
        <p class="card-text">Stock: {{ producto.stock }}</p>
        <p class="card-text">Categoría: {{ producto.category.name }}</p>
        <!-- Solo visible para superusuario -->
        <div class="d-flex justify-content-between mt-3">
          <a
            href="{% url 'product_update' id=producto.id %}"
            class="btn btn-primary"
            >Editar</a
          >
          <a
            href="{% url 'product_delete' id=producto.id %}"
            class="btn btn-danger"
            >Borrar</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- Fin de solo visible para superusuario -->
</div>
<!-- Modal para crear, solo debe existir para superusuario-->
<div
  class="modal fade"
  id="addProductModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Añadir producto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url "product_create" %}" method="post"
        enctype="multipart/form-data"> {% csrf_token %} {{ form.as_table }}
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin de modal para crear-->
<!-- Modal para confirmar eliminación, solo debe existir para superusuario-->
<div
  class="modal fade"
  id="confirmDeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Estas seguro que deseas borrar
          <strong id="product-name"></strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" id="confirmDeleteButton">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Fin de modal para confirmar eliminacion-->
{% endblock %}
